Game Jam/Temp/
Game Jam/Library/metadata/
Game Jam/obj/Debug/Assembly-CSharp-vs.csprojResolveAssemblyReference.cache
Game Jam/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Game Jam/Library/
